@{
    ViewData["Title"] = "Sobre";
}

<h3>Desenvolvedor</h3>
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="card" style="width: 18rem; margin-top:30px;">
            <img src="~/images/profile-photo.jpg" class="card-img-top" alt="foto-perfil" />
            <div class="card-body">
                <h5 class="card-title">Felipe Souza</h5>
                <p class="card-text">💻 .NET Developer, 🧡 Coffee Lover and 🎓 Student of Computer Information Systems at Federal University of Sergipe - Brazil.</p>
                <a href="https://linktr.ee/felipe6ouza" class="btn btn-primary" target="_blank">Encontre Felipe</a>
            </div>
        </div>
    </div>
</div>

