@model ShoppingCart.App.ViewModels.CarrinhoViewModel

<table class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th></th>
            <th>Item</th>
            <th>Quantidade</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Itens)
        {
            <tr>
                <td>
                    <img style="max-width: 100px; max-height: 70px" src="~/imgUploads/@item.Produto.Imagem" alt="Imagem do Produto" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Produto.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantidade)
                </td>
                <td>
                    @item.PrecoUnitario.ToString("C")
                </td>
            </tr>   
        }
    </tbody>

    <tfoot>
        <tr>
            <td>
                <button class="btn btn-danger" type="submit" name="checkout">Finalizar Pedido</button>
            </td>
            <td>

            </td>

            <td>
               <a><i class="fas fa-sync-alt"></i></a>
            </td>
            <td>R$ @Model.Total</td>
            
        </tr>
    </tfoot>
</table>
