

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

header {
    background-color: #ffaa60;
}

a {
    text-decoration: none;
    color:white;
}


a:hover {
    color: white;
    text-decoration:none;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}


html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    height: 60px;
    line-height: 60px;
}

input, select, file, textarea {
    max-width: 400px;
}
.table td{
    max-width: 350px;

}

.table tbody td {
    background-color: #f2f0ee;
}

.table-custom {
    font-weight: bold;
}

.table-custom tbody {
  font-family: 'Montserrat', sans-serif;
}

.table-custom tbody input{
    max-width:35px;  
 }

.border-custom {
    background-color: #e4e1de;
    font-family: 'Roboto Slab', serif;
}

.btn-checkout {
    background-color: #fac459;
    font-weight: bold;
    text-transform: uppercase;
    font-size: small;
}

.input-group {
  
}

.quantidade-conjunto {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.carrinho-titulo {
    font-family: 'Source Sans Pro', sans-serif;
}

.carrinho-container {
    margin-top: 60px;
}

.catalogo-container {
    margin-top: 60px;
}

.navbar{
    height:90px;
}

.text-custom {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight:bold;
   
}

.produto-container{
    margin-top: 60px;
}

.cart-empty-link {
    color: black;
    font-weight: 600;
    text-decoration: underline;
}

.cart-empty-link:hover {
    color: black;
    text-decoration: underline;
}

.card-img-top{
    max-width: 180px;
    height: auto;
}

.card-header{
    background-color: white;
}